<?xml version="1.0"?>
<!--
 /**
  * @author Evince Team
  * @copyright Copyright (c) 2018 Evince (http://evincemage.com/)
  */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="codilar" translate="label" sortOrder="500">
            <label>Codilar</label>
        </tab>
        <section id="rapnet_section" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Rapnet</label>
            <tab>codilar</tab>
            <resource>Codilar_Rapnet::config_rapnet</resource>
            <group id="settings" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Settings</label>
                <field id="rapnet" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Codilar Rapnet</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="username" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Rapnet Username</label>
                </field>
                <field id="password" translate="label" type="password" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Rapnet Password</label>
                </field>
                <field id="manufacturing_days" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Rapnet ManufacturingDays</label>
                </field>
                <field id="slider_colour" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Slide Color</label>
                    <validate>color</validate>
                    <frontend_model>Codilar\Rapnet\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>
                <field id="hover_colour" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hover Color</label>
                    <validate>color</validate>
                    <frontend_model>Codilar\Rapnet\Block\Adminhtml\System\Config\Color</frontend_model>
                </field>
                <field id="shape_filter" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Shape Filters</label>
                </field>
                <field id="cut_filter" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Cut Filters</label>
                </field>
                <field id="color_filter" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Color Filters</label>
                </field>
                <field id="clarity_filter" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Clarity Filters</label>
                </field>
                <field id="certificate_filter" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Certificate Filters</label>
                </field>
                <field id="polish_filter" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0"
                               showInStore="0" canRestore="1">
                    <label>Polish Filters</label>
                </field>
                <field id="symmetry_filter" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Symmetry Filters</label>
                </field>
                <field id="fluorescence_filter" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Flourescence Filters</label>
                </field>
            </group>
        </section>
    </system>
</config>