<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Codilar_ShippingPrice" schema_version="1.0.0" setup_version="1.1.8">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_OfflineShipping"/>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>