<?xml version="1.0"?>
<!--
  @package     htcPwa
  @author      Codilar Technologies
  @license     https://opensource.org/licenses/OSL-3.0 Open Software License v. 3.0 (OSL-3.0)
  @link        http://www.codilar.com/
/-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codilar\Cms\Api\BlockRepositoryInterface" type="Codilar\Cms\Model\BlockRepository" />
    <preference for="Codilar\Cms\Api\Data\BlockInterface" type="Codilar\Cms\Model\Block" />
    <preference for="Codilar\Cms\Api\BlockRepositoryInterface" type="Codilar\Cms\Model\BlockRepository" />
    <preference for="Codilar\Cms\Api\PageRepositoryInterface" type="Codilar\Cms\Model\PageRepository" />
    <preference for="Codilar\Cms\Api\Data\PageResponseInterface" type="Codilar\Cms\Model\Page" />
    <preference for="Magento\Cms\Model\Block" type="Codilar\Cms\Model\Block" />

    <type name="Codilar\Breadcrumbs\Api\BreadcrumbsManagementInterface">
        <arguments>
            <argument name="breadcumbsTypeEvaluator" xsi:type="array">
                <item name="cms" xsi:type="object">Codilar\Cms\Model\Breadcrumbs\Evaluator</item>
            </argument>
        </arguments>
    </type>
</config>
