<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="product" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Codilar_Core::codilar</resource>
            <class>separator-top</class>
            <label>Product</label>
            <tab>codilar</tab>
            <group id="product_specification" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Attributes</label>
                <field id="product_specification_json" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Product Specification Configuration(JSON)</label>
                    <comment><![CDATA[
<ul>
    <li>Should be a valid JSON</li>
    <li>
        Sample JSON
        <br /><br />
        <pre>
{
	"attribute_set": [
		{
		    "label": "",
            "groups": [
              {
                "label" : "Sarees",
                "attributes": [
                  "craft",
                  "saree_length",
                  "saree_color",
                  "saree_fabric",
                  "bottom_fabric",
                  "bottom_work"
                ]
              }
            ]
	    }
	]
}
        </pre>
    </li>
</ul>
                    ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
