<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <order_handler>
            <general>
                <active>1</active>
                <threshold_time>120</threshold_time>
                <order_cancel_email>order_handler_general_order_cancel_email</order_cancel_email>
            </general>
        </order_handler>
    </default>
</config>
