<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sizeguide>
            <general>
                <enable>0</enable>
                <ring_attribute_set_id>2</ring_attribute_set_id>
                <bangle_attribute_set_id>3</bangle_attribute_set_id>
            </general>
        </sizeguide>
    </default>
</config>