<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Pimcore\Aces\Api\AcesProductsRepositoryInterface" type="Pimcore\Aces\Model\AcesProductsRepository" />
    <preference for="Pimcore\Aces\Api\Data\AcesProductsInterface" type="Pimcore\Aces\Model\AcesProducts" />
    <preference for="Pimcore\Aces\Api\AcesProductsManagementInterface" type="Pimcore\Aces\Model\AcesProductsManagement" />
    <preference for="Pimcore\Aces\Api\AcesYmmInterface" type="Pimcore\Aces\Model\AcesYmmRepository" />
    <preference for="Pimcore\Aces\Api\AcesSubmodelInterface" type="Pimcore\Aces\Model\AcesSubmodelRepository" />
</config>