<?xml version="1.0"?>
<!--
   @package     htcPwa
   @author      Codilar Technologies
   @license     https://opensource.org/licenses/OSL-3.0 Open Software License v. 3.0 (OSL-3.0)
   @link        http://www.codilar.com/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="offers" frontName="offers">
            <module name="Codilar_Offers"/>
        </route>
    </router>
</config>
