<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Pimcore::menu" module="Pimcore_Common" resource="Pimcore_Common::Menu_Header" sortOrder="40"
             title="Pimcore"/>
    </menu>
</config>
