<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wesupply_api>
            <integration>
                <wesupply_enabled>0</wesupply_enabled>
            </integration>
            <step_3>
                <wesupply_order_view_enabled>1</wesupply_order_view_enabled>
            </step_3>
            <step_4>
                <checkout_page_notification>0</checkout_page_notification>
                <notification_type>default</notification_type>
            </step_4>
        </wesupply_api>
    </default>
</config>
