<!--@subject Reset Password Successfull @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650">
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0;">{{trans "Hello,"}} {{trans '%name' name=$customer.getName()}}</h1>
                        <h3 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0;">{{trans "Password Reset is successfull"}}</h3>
                    </td>
                </tr>
            </table>
            {{layout handle="reset_password_general_reset_email" area="frontend"}}
        </td>
    </tr>
    <tr>
        <td align="left" style="text-align:left;">
            <p style="font-size:16px;margin:0;">
                <strong>{{trans "Thank you"}}</strong>
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}